<!DOCTYPE html>
<html lang="en">
  <head>
    <%= content_tag :title, "#{super_settings_application_name} Settings"%>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag if defined?(csp_meta_tag) %>

    <%= super_settings_layout_style_tag %>
  </head>

  <body class="super_settings">
    <header>
      <h1 class="logo">
        <%= super_settings_application_header %>
      </h1>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
