<%= style_tag %>

<main>
  <form class="form-inline" style="display:block;" onsubmit="return false">
    <div class="super-settings-sticky-top">
      <span class="js-settings-count" style="display:inline-block; margin-right:1rem;"></span>

      <label for="filter" class="super-settings-sr-only">Filter</label>
      <input type="text" name="filter" value="" placeholder="Filter Keys" size="20" class="form-control" title="Filter Keys" id="filter" style="margin-right:1rem;">

      <button type="button" class="btn btn-default" id="add-setting"><%= icon_image(:plus) %> Add Setting</button>

      <button type="button" class="btn btn-default" id="discard-changes" disabled>
        Discard Changes
      </button>

      <button type="button" class="btn btn-primary" id="save-settings" disabled>
        Save <span class="count"></span> Changes
      </button>

      <strong class="js-flash" style="display:inline-block; margin-left:3rem;"></strong>
    </div>

    <table class="table table-striped" id="settings-table">
      <thead>
        <tr>
          <th scope="col" class="super-settings-key">Key</th>
          <th scope="col" class="super-settings-value">Value</th>
          <th scope="col" class="super-settings-value-type">Type</th>
          <th scope="col" class="super-settings-description">Description</th>
          <th scope="col" class="super-settings-controls"><span class="super-settings-sr-only">Controls</span></th>
        </tr>
      </thead>
      <tbody translate="no">
      </tbody>
    </table>
  </form>
</main>

<div id="modal" class="super-settings-modal js-close-modal" aria-hidden="true" aria-role="dialog">
  <div class="super-settings-modal-dialog">
    <button type="button" title="Close Dialog" class="super-settings-modal-close js-close-modal">&times;</button>
    <div class="super-settings-modal-content">
    </div>
  </div>
</div>

<template id="setting-row-template" style="display:none;">
  <tr>
    <td class="super-settings-key">
      <div class="js-value-placeholder"></div>
      <input type="hidden" value="" name="settings[{{id}}][key]" class="js-setting-key">
      <input type="hidden" value="" name="settings[{{id}}][delete]" class="js-setting-deleted">
    </td>

    <td class="super-settings-value">
      <div class="js-value-placeholder"></div>
    </td>

    <td class="super-settings-value-type">
      <div class="js-value-placeholder"></div>
    </td>

    <td class="super-settings-description">
      <div class="js-value-placeholder"></div>
    </td>

    <td class="super-settings-controls">
      <%= icon_button(:info, title: "Setting Info", color: "royalblue", js_class: "js-show-history") %>
      <%= icon_button(:edit, title: "Edit Setting", color: "green", js_class: "js-edit-setting") %>
      <%= icon_button(:trash, title: "Remove Setting", color: "firebrick", js_class: "js-remove-setting") %>
      <%= icon_button(:slash, title: "Cancel Changes", color: "firebrick", js_class: "js-restore-setting", link_style: "display:none;") %>
    </td>
  </tr>
</template>

<template id="setting-row-edit-template" style="display:none;">
  <tr data-edited="true" class="super-settings-edit-row">
    <td class="super-settings-key">
      <div>
        <label for="settings_{{id}}_key" class="super-settings-sr-only">Key</label>
        <input type="text" id="settings_{{id}}_key" name="settings[{{id}}][key]" value="" maxlength="190" class="form-control js-setting-key" required>
      </div>
    </td>

    <td class="super-settings-value">
      <div>
        <label for="settings_{{id}}_value" class="super-settings-sr-only">Value</label>
        <span class="js-value-placeholder"></span>
      </div>
      <div class="container text-danger js-setting-errors" style="display:none;">
      </div>
    </td>

    <td class="super-settings-value-type">
      <div>
        <label for="settings_{{id}}_value_type" class="super-settings-sr-only">Value Type</label>
        <select name="settings[{{id}}][value_type]" class="form-control js-setting-value-type" id="settings_{{id}}_value_type">
          <% SuperSettings::Setting::VALUE_TYPES.each do |value_type| %>
            <option value="<%= ERB::Util.html_escape(value_type) %>"><%= ERB::Util.html_escape(value_type) %></option>
          <% end %>
        </select>
      </div>
    </td>

    <td class="super-settings-description">
      <div>
        <label for="settings_{{id}}_description" class="super-settings-sr-only">Description</label>
        <textarea id="settings_{{id}}_description" name="settings[{{id}}][description]" value="" class="form-control" rows="4"></textarea>
      </div>
    </td>

    <td class="super-settings-controls">
      <%= icon_button(:info, title: "Setting Info", color: "royalblue", js_class: "js-show-history") %>
      <%= icon_button(:edit, title: "Edit Setting", color: "gray", js_class: "js-no-op", disabled: true) %>
      <%= icon_button(:slash, title: "Cancel Changes", color: "firebrick", js_class: "js-restore-setting") %>
    </td>
  </tr>
</template>

<template id="setting-value-field-template" style="display:none;">
  <textarea id="settings_{{id}}_value" name="settings[{{id}}][value]" class="form-control js-setting-value" rows="4"></textarea>
</template>

<template id="setting-value-field-integer-template" style="display:none;">
  <input type="number" step="1" id="settings_{{id}}_value" name="settings[{{id}}][value]" value="" class="form-control js-setting-value">
</template>

<template id="setting-value-field-float-template" style="display:none;">
  <input type="number" step="any" id="settings_{{id}}_value" name="settings[{{id}}][value]" value="" class="form-control js-setting-value">
</template>

<template id="setting-value-field-datetime-template" style="display:none;">
  <span>
    <input type="date" id="settings_{{id}}_value" name="_settings[{{id}}][date]" value="" class="form-control js-date-input">
    <label for="settings_{{id}}_value_time" class="super-settings-sr-only">Time</label>
    <input type="time" id="settings_{{id}}_value_time" name="_settings[{{id}}][time]" value="" class="form-control js-time-input" aria-label="Time">
    <input type="hidden" name="settings[{{id}}][value]" value="" class="js-setting-value">
    <small class="text-muted">Time in UTC</small>
  </span>
</template>

<template id="setting-value-field-boolean-template" style="display:none;">
  <span class="form-check">
    <input type="checkbox" id="settings_{{id}}_value" name="settings[{{id}}][value]" value="true" class="js-setting-value">
    <label for="settings_{{id}}_value">Enabled</label>
  </span>
</template>

<template id="setting-value-field-array-template" style="display:none;">
  <textarea id="settings_{{id}}_value" name="settings[{{id}}][value]" value="" class="form-control js-setting-value" rows="8" placeholder="one entry per line"></textarea>
</template>

<template id="setting-history-table" style="display:none">
  <table class="table table-striped" id="settings-table">
    <thead>
      <tr>
        <th scope="col" class="super-settings-text-nowrap">Time</th>
        <th scope="col">Changed By</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</template>

<script>
  const SuperSettings = {
    settings: <%= @settings.to_json.html_safe %>,
    changes: <%= Array(@changed_settings).to_json.html_safe %>
  }
</script>

<%= javascript_tag %>
