<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= application_name %> Settings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="pinterest" content="nopin" />
    <meta name="format-detection" content="telephone=no">
    <meta name="robots" content="noindex, nofollow">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <%= layout_style_tag %>
    <%= add_to_head %>
  </head>

  <body class="super_settings">
    <header>
      <h1 class="logo">
        <%= application_header %>
      </h1>
    </header>
    <div class="super-settings-container">
      <%= yield %>
    </div>
  </body>
</html>
