<% identifier = (setting.id || SecureRandom.hex) %>
<%= content_tag(:tr, id: "setting-#{identifier}", data: {id: setting.id, edited: true}, style: "background-color:#f2fdf2;") do %>
  <td class="super-settings-text-truncate">
    <%= label_tag "settings_#{identifier}_key", "Key", class: "super-settings-sr-only" %>
    <%= text_field_tag "settings[#{identifier}][key]", setting.key, class: "form-control", required: true %>
  </td>

  <td class="super-settings-text-truncate js-setting-value">
    <%= label_tag "settings_#{identifier}_value", "Value", class: "super-settings-sr-only" %>
    <% value_field_name = "settings[#{identifier}][value]" %>
    <% if setting.array? %>
      <%= text_area_tag value_field_name, Array(setting.value).join("\n"), rows: 8, class: "form-control", placeholder: "one entry per line" %>
    <% elsif setting.boolean? %>
      <div class="form-check">
        <%= check_box_tag value_field_name, "true", setting.value %>
        <%= label_tag value_field_name, "Enabled" %>
      </div>
    <% elsif setting.datetime? %>
      <%= datetime_field_tag value_field_name, setting.value, class: "form-control" %>
    <% elsif setting.integer? %>
      <%= number_field_tag value_field_name, setting.value, step: 1, class: "form-control" %>
    <% elsif setting.float? %>
      <%= number_field_tag value_field_name, setting.value, class: "form-control" %>
    <% else %>
      <%= text_field_tag value_field_name, setting.value, class: "form-control" %>
    <% end %>

    <% if setting.errors.any? %>
      <% setting.errors.full_messages.each do |error_message| %>
        <div class="container text-danger">
          <%= error_message %>
        </div>
      <% end %>
    <% end %>
  </td>

  <td class="super-settings-text-truncate super-settings-value-type">
    <%= label_tag "settings_#{identifier}_value_type", "Value Type", class: "super-settings-sr-only" %>
    <%= select_tag "settings[#{identifier}][value_type]", options_for_select(SuperSettings::Setting::VALUE_TYPES, setting.value_type), class: "form-control js-setting-value-type" %>
  </td>

  <td class="super-settings-text-truncate">
    <%= label_tag "settings_#{identifier}_description", "Description", class: "super-settings-sr-only" %>
    <%= text_area_tag "settings[#{identifier}][description]", setting.description, rows: 4, class: "form-control" %>
  </td>

  <td class="super-settings-controls">
    <% if setting.persisted? %>
      <%= super_settings_icon_button(:info, title: "#{setting.key} Info", color: "royalblue", js_class: "js-modal-link", url: super_settings.history_path(setting.id)) %>
    <% end %>
    <%= super_settings_icon_button(:edit, title: "Edit #{setting.key}", color: "gray", js_class: "js-no-op", disabled: true) %>
    <%= super_settings_icon_button(:slash, title: "Cancel Edit Setting", color: "firebrick", js_class: (setting.persisted? ? "js-cancel-setting" : "js-remove-setting")) %>
  </td>
<% end %>
