<%= content_tag(:tr, id: "setting-#{setting.id}", data: {id: setting.id, key: setting.key, edited: (setting.deleted? ? true : nil)}) do %>
  <td class="super-settings-text-truncate super-settings-key">
    <%= setting.key %>
    <%= hidden_field_tag "settings[#{setting.id}][key]", setting.key %>
  </td>

  <td class="super-settings-text-truncate super-settings-value">
    <% if setting.value.blank? && !setting.boolean? %>
      &nbsp;
    <% elsif setting.array? %>
      <% setting.value.each do |val| %>
        <div><%= val %></div>
      <% end %>
    <% elsif setting.datetime? %>
      <%= I18n.localize(setting.value, format: :long)%>
    <% elsif setting.secret? %>
      <%= "•" * 24 %>
      <% unless setting.encrypted? %>
        <div class="text-danger">
          not encrypted
        </div>
      <% end %>
    <% else %>
      <%= setting.value %>
    <% end %>
  </td>

  <td class="super-settings-text-truncate super-settings-value-type">
    <%= setting.value_type %>
  </td>

  <td class="super-settings-text-truncate setting-description">
    <%= simple_format(setting.description) %>
    <% if SuperSettings.track_last_used? %>
      <% if setting.last_used_at.nil? %>
        <span class="text-danger">never used</span>
      <% elsif setting.last_used_at < 1.day.ago %>
        <%= content_tag(:span, "last used #{super_settings_last_used_age(setting.last_used_at)}", title: I18n.localize(setting.last_used_at, format: :long), class: "text-danger") %>
      <% else %>
      <% end %>
    <% end %>
  </td>

  <td class="super-settings-controls">
    <%= hidden_field_tag "settings[#{setting.id}][delete]", (setting.deleted? ? 1 : nil), class: "form-control js-setting-deleted" %>

    <%= super_settings_icon_button(:info, title: "Info for #{setting.key}", color: "royalblue", js_class: "js-modal-link", url: super_settings.history_path(setting.id)) %>
    <%= super_settings_icon_button(:edit, title: "Edit #{setting.key}", color: "green", js_class: "js-edit-setting") %>
    <%= super_settings_icon_button(:trash, title: "Remove #{setting.key}", color: "firebrick", js_class: "js-remove-setting") %>
    <%= super_settings_icon_button(:slash, title: "Cancel Remove #{setting.key}", color: "firebrick", js_class: "js-cancel-remove-setting", link_style: "display:none;") %>
  </td>
<% end %>
