<h3 style="margin-top:0; margin-bottom:1rem;">
  Setting Change Log:
  <%= @setting.key %>
</h3>

<p>
  Last Used:
  <% if @setting.last_used_at %>
    <% classname = (@setting.last_used_at > 1.day.ago ? "text-success" : "text-danger") %>
    <%= content_tag(:span, super_settings_last_used_age(@setting.last_used_at), title: I18n.localize(@setting.last_used_at, format: :long), class: classname) %>
  <% else %>
    <em class="text-danger">never</em>
  <% end %>
</p>

<table class="table table-striped" id="settings-table">
  <thead>
    <tr>
      <th scope="col" class="text-nowrap">Time</th>
      <th scope="col" class="text-truncate">Value</th>
      <th scope="col" class="text-truncate">Changed By</th>
    </tr>
  </thead>
  <tbody>
    <% @histories.each do |history| %>
      <tr>
        <td>
          <%= I18n.localize(history.created_at, format: :long)%>
        </td>

        <td>
          <div style="white-space:pre;"><%= history.value %></div>
        </td>

        <td>
          <% if history.changed_by.present? %>
            <%= history.changed_by_display %>
          <% else %>
            <em>n/a</em>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
