<h3 style="margin-top:0; margin-bottom:1rem;">
  Setting Change Log:
  <%= @setting.key %>
</h3>

<p>
  Last Used:
  <% if @setting.last_used_at %>
    <% classname = (@setting.last_used_at > 1.day.ago ? "text-success" : "text-danger") %>
    <%= content_tag(:span, super_settings_last_used_age(@setting.last_used_at), title: super_settings_formatted_time(@setting.last_used_at), class: classname) %>
  <% else %>
    <em class="text-danger">never</em>
  <% end %>
</p>

<table class="table table-striped" id="settings-table">
  <thead>
    <tr>
      <th scope="col" class="super-settings-text-nowrap">Time</th>
      <th scope="col" class="super-settings-text-truncate">Changed By</th>
      <th scope="col" class="super-settings-text-truncate">Value</th>
    </tr>
  </thead>
  <tbody>
    <% @histories.each do |history| %>
      <tr>
        <td>
          <%= super_settings_formatted_time(history.created_at) %>
        </td>

        <td>
          <% if history.changed_by.present? %>
            <%= history.changed_by_display %>
          <% else %>
            <em>n/a</em>
          <% end %>
        </td>

        <td>
          <% if @setting.secret? %>
            <em>N/A</em>
          <% else %>
            <div style="white-space:pre;"><%= history.value %></div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @previous_page_url || @next_page_url %>
  <div class="align-center">
    <% if @previous_page_url %>
      <div style="float:left;">
        <%= link_to(@previous_page_url, class: "js-modal-link") do %>
          &#8592; Newer
        <% end %>
      </div>
    <% end %>
    <% if @next_page_url %>
      <div style="float:right;">
        <%= link_to(@next_page_url, class: "js-modal-link") do %>
          Older &#8594;
        <% end %>
      </div>
    <% end %>
  </div>
  <div style="clear:both;"></div>
<% end %>

