<%= super_settings_style_tag %>

<main>
  <%= form_tag(super_settings.update_path, method: :post, id: "settings-form", class: "form-inline", style: "display:block;") do %>
    <div class="super-settings-sticky-top">
      <span style="display:inline-block; margin-right:1rem;">
        <%= pluralize(@settings.size, "setting") %>
      </span>

      <label for="filter" class="super-settings-sr-only">Filter</label>
      <%= text_field_tag "filter", params[:filter], placeholder: "Filter Keys", size: 20, class: "form-control", title: "Filter Keys", id: "filter", style: "margin-right:1rem;" %>

      <button type="button" class="btn btn-default" id="add-setting"><%= super_settings_icon(:plus) %> Add Setting</button>

      <button type="button" class="btn btn-default" id="discard-changes" disabled>
        Discard Changes
      </button>

      <button type="submit" class="btn btn-primary" id="save-settings" disabled>
        Save <span class="count"></span> Changes
      </button>

      <% if flash[:notice].present? %>
        <strong class="text-success js-flash" style="display:inline-block; margin-left:3rem;">
          <%= flash[:notice]%>
        </strong>
      <% end %>
      <% if flash[:alert].present? %>
        <strong class="text-danger js-flash" style="display:inline-block; margin-left:3rem;">
          <%= flash[:alert]%>
        </strong>
      <% end %>
    </div>

    <table class="table table-striped" id="settings-table">
      <thead>
        <tr>
          <th scope="col" class="super-settings-key">Key</th>
          <th scope="col" class="super-settings-value">Value</th>
          <th scope="col" class="super-settings-value-type">Type</th>
          <th scope="col" class="super-settings-description">Description</th>
          <th scope="col" class="super-settings-controls"><span class="super-settings-sr-only">Controls</span></th>
        </tr>
      </thead>
      <tbody translate="no">
        <% @settings.each do |setting| %>
          <% if setting.changed? %>
            <%= render "edit_setting", setting: setting %>
          <% else %>
            <%= render "setting", setting: setting %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</main>

<div id="modal" class="super-settings-modal js-close-modal" aria-hidden="true" aria-role="dialog">
  <div class="super-settings-modal-dialog">
    <button type="button" title="Close Dialog" class="super-settings-modal-close js-close-modal">&times;</button>
    <div class="super-settings-modal-content">
    </div>
  </div>
</div>

<%= super_settings_javascript_tag %>
